{% extends 'base.html' %}

{% block content %}
<h1>Acerca de Nosotros</h1><br />

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus sint exercitationem ullam, incidunt animi aperiam iste, libero quas vitae et sequi amet odit illo fugit! Iure illo aperiam enim corporis.</p><br />

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id error, sed non quos velit accusantium aliquam et ab quam voluptate neque ipsum a. At, harum voluptatum, tempore illum cumque ipsam.</p>

{% endblock %}